<!DOCTYPE html>
<html>
    <head>
        <title>FlickList</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>
            <a href="/">FlickList</a>
        </h1>
        
        {% if session['email'] %}
        <p>
            {{ session['email'] }}  <a href='/logout'>Log Out</a>
        </p>
        
        {% else %}
        <div>
            <a href="/login">Login</a>
            <a href="/register">register</a>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}

    </body>
</html>
